.base-input {
  position: relative;
}

.base-input__exact {
  padding: 12px;
  font-size: 16px;
  outline: none;
  border-radius: 6px;
  border: 2px solid var(--border-color);
  width: 100%;
}

.base-input__label-text {
  display: inline-block;
  margin-bottom: 6px;
}

.base-input__tooltip.base-tooltip {
  opacity: 0;
  pointer-events: none;
  bottom: -30px;
  left: 0;
  transition: all .2s ease-in-out;
  position: absolute;
}

.base-input__tooltip-list {
  padding: 0 16px;
  margin: 0;
}

.base-input {
  &--error {
    .base-input__exact {
      border: 2px solid var(--error);
      color: var(--error);
    }

    .base-input__tooltip {
      bottom: -24px;
      opacity: 1;
    }
  }
}
